body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg) no-repeat center center/cover;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg,
        rgba(48, 25, 52, 0.9) 0%,
        rgba(92, 36, 113, 0.9) 50%,
        rgba(207, 68, 124, 0.8) 100%
    );
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 3em;
    color: #e6dbff; /* Tom pastel inspirado no gradiente */
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #ffffff;
    background-color: rgba(92, 36, 113, 0.9);
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.reset:hover {
    background-color: rgba(207, 68, 124, 0.9);
    color: #ffffff;
}

.reset:focus {
    color: #ffffff;
    background-color: rgba(48, 25, 52, 0.9);
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 3em;
    color: #611efc; /* Cor dos emojis */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 10px;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item.boxOpen::after {
    transform: rotateY(180deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}
